.header{
    background-color: black;
    color: #3289cd;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
}
